<% include ../include/header.html %>
<div id="contentContainer">
  <h2><%= __('Available web apps') %></h2>
  <% if (webapps.length > 0) { %>
    <ul id="webappList">
      <% webapps.forEach(function(webapp){ %>
        <li>
          <a class="webappLink" href="<%= webapp.url %>" title="<%= webapp.description %>"><%= webapp.name %></a> :
          <p>description : <%= webapp.description %></p>
          <p>sources : <a href="<%= webapp.sources %>"><%= webapp.sources %></p>
        </li>
      <% }) %>
    </ul><%
  } else { %>
    <%= __('No webapp found') %>,
  <% } %>
</div>
<% include ../include/footer.html %>
